.Signup {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnContainer p {
  font-size: 1.1rem;
}

.btnContainer p a {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.2rem;
}